/* Import Dependencies */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

/* Fonts */

@import url(//fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700);

/* Geral */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 96vw;
}
